@import "mixins";

header {
  grid-area: header;

  @include flex(space-around, center);

  background-color: #ffffff;

  .logoContainer {
    @include flex(center, center);

    width: 240px;
    height: 70px;

    background-color: #ffcd00;
    .bolt {
      width: 7.5px;
      height: 8px;
      margin: 7px;
      fill: white;
    }
    .rsm {
      width: 70px;
      height: 25px;
      margin-right: 7px;
      fill: #333333;
    }
    .shop {
      width: 94px;
      height: 25px;
      fill: white;
    }
  }

  .headerNav {
    @include flex(space-around, center);
    width: auto;

    a {
      margin-left: 50px;
      @include nav;
    }
  }

  .headerContacts {
    display: flex;
    margin-left: auto;

    a,
    p {
      width: auto;
      margin-right: 50px;
    }
    a {
      color: #2f2f2f;
      font-size: 16px;
      .city {
        border-bottom: 1px dashed;
        border-color: #a0aeb5;
      }

      &:before {
        content: url("/SVG_Icons/place.svg");
        display: inline-block;
        margin-right: 10px;
        width: 12px;
        height: 15px;
        filter: invert(73%) sepia(10%) saturate(327%) hue-rotate(155deg)
          brightness(93%) contrast(87%);
      }
      &:hover:before {
        filter: invert(58%) sepia(99%) saturate(483%) hue-rotate(5deg)
          brightness(99%) contrast(101%);
      }

      &:hover {
        .city {
          border: none;
        }
      }
    }
  }

  a {
    &:hover {
      color: #efb526;
    }
  }

  .search {
    width: 219px;
    height: 100%;
    display: flex;

    input {
      @include border;

      padding-left: 20px;

      font-size: 16px;
      width: 150px;
      &:focus {
        background-color: #3e3e3e;
        color: #e5e5e5;
        &:focus ~ button {
          background-color: #2f2f2f;
          fill: #e5e5e5;
        }
      }
    }

    button {
      fill: #a0aeb5;
      background-color: white;
      border: none;
      width: 100%;
      cursor: pointer;
    }

    button svg {
      width: 19px;
      height: 20px;
    }
  }
}
