@import "mixins";

nav {
  position: relative;
  @include flex(space-around, center);

  grid-area: nav;
  background-color: #ffffff;

  .navs_container {
    @include flex(space-around, center);
    flex: 1;
    a,
    button {
      @include nav;

      &:hover:not(:first-child) {
        color: #efb526;
      }
    }

    button {
      border: none;
      outline: none;
      cursor: pointer;
    }

    :first-child {
      width: 272px;
      height: 40px;

      border-radius: 2px;

      @include flex(center, center);

      img {
        order: -1;

        display: inline-block;

        width: 20px;
        height: 14px;

        margin-right: 20px;

        filter: invert(15%) sepia(0%) saturate(0%) hue-rotate(217deg)
          brightness(92%) contrast(87%);
      }

      &:hover:not(img) {
        background-color: #f3f2e6;
      }
    }
    .close {
      border: 1px solid #dbdbdb;
      &:hover{
        background-color: #2f2f2f !important;
        border: none;
        color: #ffffff;
        img{filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(247deg) brightness(103%) contrast(103%)};
      }
    }
  }

  .shop {
    @include flex(center, center);
    @include border;

    position: relative;

    width: 70px;
    height: 100%;
    svg {
      width: 26px;
      height: 23px;
      fill: #a0aeb5;
    }

    .counter {
      @include flex(center, center);

      position: absolute;

      top: 10px;
      right: 10px;

      width: 18px;
      height: 18px;

      border-radius: 200px;
      background-color: #efb526;
      color: white;
    }
  }
}

.fullCatalog {
  display: flex;

  top: 100%;

  width: 1440px;

  margin: -10px 0px 0px 0px;

  background-color: #3e3e3e;
  background-image: url(/Images/pattern_menu.png);
  background-repeat: repeat;
  background-size: 25%;
}
