@import "mixins";

nav {
  @include flex(space-around, flex-start);

  grid-area: nav;
  background-color: #ffffff;

  .navs_container {
    @include flex(space-around, flex-start);
    flex: 1;

    .dropdown {
      width: 220px;
      z-index: 2;
      position: relative;

      &:hover {
        box-shadow: 0px 0px 9px 0px rgba(173, 184, 184, 0.5);
        .elementContent {
          display: flex;
        }
      }
    }

    .elementBtn,
    button {
      @include nav;
      @include flex(center, center);

      border: none;

      outline: none;
      cursor: pointer;
    }

    .elementBtn {
      @include flex(left, center);

      width: 180px;
      height: 70px;

      margin: auto;
      padding-left: 20px;
    }

    .elementContent {
      @include flex(flex-start, center);
      flex-direction: column;

      display: none;

      width: 220px;
      height: 220px;

      background-color: white;

      a {
        font-family: RobotoCondensed;
        width: 180px;
        padding-left: 20px;
        line-height: 31px;
        color: #2f2f2f;
        &:hover {
          background-color: #333333;
          color: white;
        }
      }
    }

    .fullContentBtn {
      margin: 15px 0px 20px 15px;
      width: 292px;
      height: 40px;

      border-radius: 2px;

      @include flex(center, center);

      img {
        order: -1;

        display: inline-block;

        width: 20px;
        height: 14px;

        margin-right: 20px;

        filter: invert(15%) sepia(0%) saturate(0%) hue-rotate(217deg)
          brightness(92%) contrast(87%);
      }

      &:hover:not(img) {
        background-color: #f3f2e6;
      }
    }
    .close {
      border: 1px solid #dbdbdb;
      &:hover {
        background-color: #2f2f2f !important;
        border: none;
        color: #ffffff;
        img {
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(247deg)
            brightness(103%) contrast(103%);
        }
      }
    }
  }

  .shopContainer {
    height: 100%;
    position: relative;

    input {
      position: absolute;
      display: block;

      width: 70px;
      height: 70px;

      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }

    input[type="checkbox"]:checked ~ .shop {
      background-color: #f2ba1f;
      svg {
        fill: white;
      }
      .counter {
        background-color: white;
        color: #f2ba1f;
      }
      .shopContent {
        display: grid;
      }
      &:after {
        display: block;
      }
    }

    .shop {
      @include flex(center, center);
      @include border;

      width: 70px;
      height: 100%;
      svg {
        width: 26px;
        height: 23px;
        fill: #a0aeb5;
      }

      &:after {
        content: " ";
        position: absolute;
        display: none;
        top: 100%;
        right: 19px;
        width: 0px;
        height: 0px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
      }

      .counter {
        @include flex(center, center);
        font-family: RobotoCondensed;
        font-weight: bold;

        position: absolute;

        top: 10px;
        right: 10px;

        width: 18px;
        height: 18px;

        border-radius: 200px;
        background-color: #efb526;
        color: white;
      }

      .shopContent {
        display: none;
        grid-template-columns: 490px;
        grid-template-rows: 320px 79px;
        grid-template-areas:
          "mainShopContent"
          "footerShopContent";

        position: absolute;
        top: 100%;
        right: 0%;

        margin-top: 15px;
        box-shadow: 0px 0px 9px 0px rgba(173, 184, 184, 0.5);
        background-color: white;

        .mainShopContent {
          grid-area: mainShopContent;
          position: relative;
          overflow-y: scroll;

          max-height: 280px;
          // width: 428px;

          margin: auto 10px auto 0px;

          .shopingCartProduct {
            background-color: lightcoral;
            height: 100px;
            width: 100%;
            margin-top: 15px;
          }
        }

        .footerShopContent {
          @include flex(flex-start, center);
          grid-area: footerShopContent;

          border-top: 1px solid #e7e7e7;

          button {
            font-size: 16px;
            cursor: pointer;
            outline: none;

            width: 180px;
            height: 40px;

            border: none;
            border-radius: 2px;

            background-color: #f2ba1f;
            color: white;

            margin: auto 0px auto 20px;
          }

          p {
            font-size: 24px;
            font-weight: 500;

            color: #2f2f2f;

            &:before {
              content: "Итоговая цена:";
              text-transform: uppercase;
              font-size: 10px;
              font-weight: 400;
              letter-spacing: 0.1em;
              margin-right: 15px;
              margin-left: 64px;
            }
            &:after {
              content: url(/SVG_Icons/ruble.svg);

              display: inline-block;

              width: 15px;
              height: 18px;

              margin-left: 8px;
              filter: invert(86%) sepia(12%) saturate(6720%) hue-rotate(346deg)
                brightness(103%) contrast(90%);
            }
          }
        }
      }
    }
  }
}

.fullCatalog {
  display: flex;

  top: 100%;

  width: 1440px;

  margin-top: -10px;

  background-color: #3e3e3e;
  background-image: url(/Images/pattern_menu.png);
  background-repeat: repeat;
  background-size: 25%;

  table {
    border-collapse: separate;
    width: 100%;
    margin: auto;
    a {
      font-family: RobotoCondensed;
    }

    thead,
    tbody,
    tr {
      width: 100%;
    }

    thead,
    tbody {
      display: inline-block;
    }
    tr {
      display: flex;
      justify-content: space-around;
    }
    td,
    th {
      width: 150px;
      text-align: left;
    }

    th {
      a {
        color: #999999;
        font-size: 20px;
        line-height: 2.5;
      }
    }
    td {
      a {
        color: white;
        line-height: 2;
        font-size: 14px;
        &:hover {
          color: #ffb700;
        }
      }
    }
  }
}
