.slider {
  @include flex(center, flex-end);
  grid-area: slider;

  overflow: hidden;

  .sliderContent {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .points {
    @include flex(center, center);
    position: relative;
    bottom: 20px;
    .point {
      cursor: pointer;
      width: 8px;
      height: 8px;
      background-color: white;
      border-radius: 200px;
      margin-right: 22px;
      &:hover {
        width: 10px;
        height: 10px;
      }
    }
  }
}
