@font-face {
  src: url(/Fonts/Archive.otf);
  font-family: Archive;
  src: url(/Fonts/Roboto-Bold.ttf);
  src: url(/Fonts/Roboto-BoldItalic.ttf);
  src: url(/Fonts/Roboto-Italic.ttf);
  src: url(/Fonts/Roboto-Light.ttf);
  src: url(/Fonts/Roboto-Medium.ttf);
  src: url(/Fonts/Roboto-Regular.ttf);
  src: url(/Fonts/Roboto-Thin.ttf);
  font-family: Roboto;
  src: url(/Fonts/RobotoCondensed-Bold.ttf);
  src: url(/Fonts/RobotoCondensed-Regular.ttf);
  font-family: RobotoCondensed;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

header .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 70px;
  background-color: #ffcd00;
  cursor: pointer;
}

header .logoContainer .bolt {
  width: 7.5px;
  height: 8px;
  margin: 7px;
  fill: white;
}

header .logoContainer .rsm {
  width: 70px;
  height: 25px;
  margin-right: 7px;
  fill: #333333;
}

header .logoContainer .shop {
  width: 94px;
  height: 25px;
  fill: white;
}

header .headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

header .headerNav a {
  margin-left: 50px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #2f2f2f;
  letter-spacing: 0.025em;
}

header .headerContacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

header .headerContacts a,
header .headerContacts p {
  width: auto;
  margin-right: 50px;
}

header .headerContacts a {
  color: #2f2f2f;
  font-size: 16px;
}

header .headerContacts a .city {
  border-bottom: 1px dashed;
  border-color: #a0aeb5;
}

header .headerContacts a:before {
  content: url("/SVG_Icons/place.svg");
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 15px;
  -webkit-filter: invert(73%) sepia(10%) saturate(327%) hue-rotate(155deg) brightness(93%) contrast(87%);
          filter: invert(73%) sepia(10%) saturate(327%) hue-rotate(155deg) brightness(93%) contrast(87%);
}

header .headerContacts a:hover:before {
  -webkit-filter: invert(58%) sepia(99%) saturate(483%) hue-rotate(5deg) brightness(99%) contrast(101%);
          filter: invert(58%) sepia(99%) saturate(483%) hue-rotate(5deg) brightness(99%) contrast(101%);
}

header .headerContacts a:hover .city {
  border: none;
}

header a:hover {
  color: #efb526;
}

header .search {
  width: 219px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .search input {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #dfe4e6;
  padding-left: 20px;
  font-size: 16px;
  width: 150px;
}

header .search input:focus {
  background-color: #3e3e3e;
  color: #e5e5e5;
}

header .search input:focus:focus ~ button {
  background-color: #2f2f2f;
  fill: #e5e5e5;
}

header .search button {
  fill: #a0aeb5;
  background-color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}

header .search button svg {
  width: 19px;
  height: 20px;
}

header .search button, header .search input {
  outline: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  background-color: #ffffff;
}

nav .navs_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .navs_container .dropdown {
  width: 220px;
  z-index: 1;
  position: relative;
}

nav .navs_container .dropdown:hover {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(173, 184, 184, 0.5);
          box-shadow: 0px 0px 9px 0px rgba(173, 184, 184, 0.5);
}

nav .navs_container .dropdown:hover .elementContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navs_container .elementBtn,
nav .navs_container button {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #2f2f2f;
  letter-spacing: 0.025em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

nav .navs_container .elementBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 70px;
  margin: auto;
  padding-left: 20px;
}

nav .navs_container .elementContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  width: 220px;
  height: 220px;
  background-color: white;
}

nav .navs_container .elementContent a {
  font-family: RobotoCondensed;
  width: 180px;
  padding-left: 20px;
  line-height: 31px;
  color: #2f2f2f;
}

nav .navs_container .elementContent a:hover {
  background-color: #333333;
  color: white;
}

nav .navs_container .fullContentBtn {
  margin: 15px 0px 20px 15px;
  width: 292px;
  height: 40px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navs_container .fullContentBtn img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: inline-block;
  width: 20px;
  height: 14px;
  margin-right: 20px;
  -webkit-filter: invert(15%) sepia(0%) saturate(0%) hue-rotate(217deg) brightness(92%) contrast(87%);
          filter: invert(15%) sepia(0%) saturate(0%) hue-rotate(217deg) brightness(92%) contrast(87%);
}

nav .navs_container .fullContentBtn:hover:not(img) {
  background-color: #f3f2e6;
}

nav .navs_container .close {
  border: 1px solid #dbdbdb;
}

nav .navs_container .close:hover {
  background-color: #2f2f2f !important;
  border: none;
  color: #ffffff;
}

nav .navs_container .close:hover img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(247deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(247deg) brightness(103%) contrast(103%);
}

nav .shopContainer {
  height: 100%;
}

nav .shopContainer .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #dfe4e6;
  position: relative;
  width: 70px;
  height: 100%;
}

nav .shopContainer .shop svg {
  width: 26px;
  height: 23px;
  fill: #a0aeb5;
}

nav .shopContainer .shop .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  border-radius: 200px;
  background-color: #efb526;
  color: white;
}

.fullCatalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  width: 1440px;
  margin-top: -10px;
  background-color: #3e3e3e;
  background-image: url(/Images/pattern_menu.png);
  background-repeat: repeat;
  background-size: 25%;
}

.fullCatalog table {
  border-collapse: separate;
  width: 100%;
  margin: auto;
}

.fullCatalog table a {
  font-family: RobotoCondensed;
}

.fullCatalog table thead,
.fullCatalog table tbody,
.fullCatalog table tr {
  width: 100%;
}

.fullCatalog table thead,
.fullCatalog table tbody {
  display: inline-block;
}

.fullCatalog table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fullCatalog table td,
.fullCatalog table th {
  width: 150px;
  text-align: left;
}

.fullCatalog table th a {
  color: #999999;
  font-size: 20px;
  line-height: 2.5;
}

.fullCatalog table td a {
  color: white;
  line-height: 2;
  font-size: 14px;
}

.fullCatalog table td a:hover {
  color: #ffb700;
}

.slider {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: slider;
  background-image: url(/Images/main_slider_01.jpg);
  background-size: contain;
}

.catalog {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: catalog;
  background-image: url(/Images/main_category.jpg);
  background-size: contain;
  width: 470px;
      justify-self: end;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: roboto;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  background-color: #edf0f1;
  background-image: url(/Images/background_main.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

header,
nav {
  height: 70px;
}

.slider,
.catalog {
  height: 340px;
}

.container {
  width: 1440px;
  margin: 30px auto 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 960px 480px;
      grid-template-columns: 960px 480px;
  -ms-grid-rows: 70px 70px 340px;
      grid-template-rows: 70px 70px 340px;
      grid-template-areas: "header header" "nav nav" "slider catalog";
  grid-row-gap: 10px;
}
/*# sourceMappingURL=styles.css.map */