@font-face{
 src: url(/Fonts/Archive.otf);
 font-family: "Archive";
 src: url(/Fonts/Roboto-Bold.ttf);
 src: url(/Fonts/Roboto-BoldItalic.ttf);
 src: url(/Fonts/Roboto-Italic.ttf);
 src: url(/Fonts/Roboto-Light.ttf);
 src: url(/Fonts/Roboto-Medium.ttf);
 src: url(/Fonts/Roboto-Regular.ttf);
 src: url(/Fonts/Roboto-Thin.ttf);
 src: url(/Fonts/RobotoCondensed-Bold.ttf);
 src: url(/Fonts/RobotoCondensed-Regular.ttf);
 font-family: Roboto;
}

@import "header";
@import "nav";
@import "slider";
@import "contentTop";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #edf0f1;
  background-image: url(/Images/background_main.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

header,
nav {
  height: 70px;
}

.slider,
.contentTop {
  height: 340px;
}

article {
  width: 1440px;
  margin: 30px auto 0px;
  display: grid;
  grid-template-columns: 240px 720px 480px;
  grid-template-rows: 70px 70px 340px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "slider slider contentTop";
  grid-row-gap: 10px;
}
